@font-face {
  font-family: Poppins;
  src: url('/src/app/model/sources/Poppins');
}
@font-face {
  font-family: Poppins-light;
  src: url('/src/app/model/sources/Poppins-light');
}
@font-face {
  font-family:Poppins-bold ;
  src: url('/src/app/model/sources/Poppins-bold');
}
@font-face {
  font-family:Poppins-regular;
  src: url('/src/app/model/sources/Poppins-regular');
}
h1,h2,h3,h4,h5{
  font-family: Poppins-bold;
}
p{
  font-family: Poppins-light;
}
